<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>



<body>
  <div class="container">
    <img src="images/logo.png">
    <h1>Welcome To <%= title %></h1>
    <h3>An Efficient Task Management App</h3>
    <br>
    <br>
    <% if(user){%>
    <a href="/logout">Log Out</a>
    <%} else { %>
    <a href="/auth/google">Log In</a>
    <% } %>
  </div>
</body>

</html>