<aside class="aside">
  <div class="logo-container">
    <img src="" alt="logo">
    <h3>TaskTracker</h3>
  </div>
  <ul class="aside-menu">
    <li>DASHBOARD</li>
    <li>PROJECTS</li>
    <li>TASKS</li>
    <li>CALENDAR</li>
  </ul>
</aside>