<aside class="aside">
  <div class="logo-container">
    <img src="images/logo.png" alt="logo">
    <h3>TaskTracker</h3>
  </div>
  <ul class="aside-menu">
    <li <%- title === 'Dashboard' ? 'class="active"' : '' %>>
      <a href="/dashboard">
        DASHBOARD
      </a>
    </li>
    <li <%- title === 'My Projects' ? 'class="active"' : '' %>>
      <a href="/projects">
        PROJECTS
      </a>
    </li>
    <li <%- title === 'My Tasks' ? 'class="active"' : '' %>>
      <a href="/tasks">
        TASKS
      </a>
    </li>
    <li <%- title === 'Calendar' ? 'class="active"' : '' %>>
      <a href="/calendar">
        CALENDAR
      </a>
    </li>
  </ul>
</aside>