<%- include('./header.ejs')%>
<div class="dashboard-header">
  <div class="dashboard-title">
    <h1>My Projects</h1>
  </div>
</div>
<div class="content-wrapper">
  <div class="dashboard-projects">
    <%projects.forEach(project => {%>
    <div><%= project.name %></div>
    <%})%>
  </div>
  <aside class="aside-right">
    <h1>Tasks</h1>
    <% todaysTasks.forEach(task => {%>
    <div><%=task.title%></div>
    <%})%>
  </aside>
</div>

<%- include('./footer.ejs')%>