<%- include('../layouts/header.ejs')%>
<div class="calendar">
  <h1>Google Calendar API Integration Coming Soon</h1>
  <img src="/images/underconstruction.jpg" alt="page underconstruction">
</div>
<%- include('../layouts/footer.ejs')%>