<%- include('../layouts/header.ejs')%>
<h1><%= title %></h1>
<div class="form-content">
  <form action="/projects" method="post" class="form-container">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" pattern="[A-Za-z ]+" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="color">Color:</label>
      <input type="color" id="color" name="color" required>
    </div>
    <div class="form-group">
      <a href="/projects">Go Back</a>
      <button type="submit">Add</button>
    </div>
    <% if (errorMsg) { %>
    <p><%= errorMsg %></p>
    <% } %>
  </form>
</div>
<%- include('../layouts/footer.ejs')%>