<%- include('../layouts/header.ejs')%>
<h1><%= title %></h1>
<form action="/projects" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" pattern="[A-Za-z ]+" required>
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>
  </div>
  <div>
    <label for="color">Color:</label>
    <input type="color" id="color" name="color" required>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
  <p><%= errorMsg %></p>
</form>
<%- include('../layouts/footer.ejs')%>