<%- include('../layouts/header.ejs')%>
<h1><%= title %></h1>
<div class="form-content">
  <form action="/projects" method="post" class="form-container">
    <div class="form-group">
      <label for="name" class="form-label">Name:</label>
      <input type="text" id="name" name="name" pattern="[A-Za-z ]+" required class="form-input">
    </div>
    <div class="form-group">
      <label for="description" class="form-label">Description:</label>
      <textarea id="description" name="description" required class="form-textarea"></textarea>
    </div>
    <div class="form-group">
      <label for="color" class="form-label">Color:</label>
      <input type="color" id="color" name="color" required class="form-color">
    </div>
    <div class="form-group">
      <a href="/projects">Go Back</a>
      <button type="submit">Add</button>
    </div>
  </form>
</div>


<%- include('../layouts/footer.ejs')%>